:root {
    --green: #4CAF50;
    --white: #ffffff;
    --black: #000000;
  }

  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  body {
      background: var(--bg);
      background-color: var(--bgclr);
      color: var(--clr);
      margin: 2em;
  }

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family: monospace;
  }
  
  .light-theme {
    --clr: #fff!important;
    --bgclr: var(--green)!important;
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
  }
  /* Dummy comment in source code */